{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h3>使用说明</h3>
        <ol>
            <li>点击 New Task 先选择自习室,后选择座号</li>
            <li>随后填写校园卡账号密码,账号为前面加2的12位格式，请确保账号密码正确</li>
            <li>使用的开始结束时间以分钟为小时</li>
            <li>系统每天早上五点开始预约第二天的座位 </li>
        </ol>

    <h3>注意事项</h3>
    <ul>
	<li>本系统为让考研的同学免除因意外无法预约到常用座位, 或者预约到的座位因被人截断而不得不频繁更换位置的苦恼而设计,请勿滥用 </li>
        <li>请勿恶意占座</li>
        <li>挑选座位时请确保不会跟原座位使用者产生冲突</li>
        <li>请保持图书馆良好学习氛围，切勿占座后娱乐打闹影响附近同学学习</li>
        <li>本站并不保证每天都预约成功，只是尽力而为，受服务器状态和网络状态以及学校服务器状态影响</li>
    </ul>
</div>

<!--<div class="row">-->
    <!--<div class="col-md-4">-->
        <!--<h2>Getting started</h2>-->
        <!--<p>-->
            <!--Flask gives you a powerful, patterns-based way to build dynamic websites that-->
            <!--enables a clean separation of concerns and gives you full control over markup-->
            <!--for enjoyable, agile development.-->
        <!--</p>-->
        <!--<p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--</div>-->
<!--</div>-->

{% endblock %}
